

.account-cont{
    width:1000px; display:relative;
}

.account-cont .row{
    height:120px;
}

.account-cont .item{
    width:260px; 
    height:auto;
    display:inline-block;
    text-align:left; 
    cursor:pointer;
}
.account-cont .item:hover{
    background-color: #ececec;
}

.account-cont .item .app-icon{
    display: inline-block;
    width: 65px;
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    line-height: 65px;
}

.account-cont .item .app-desc{
    display:inline-block;

}


table.app-signup tbody tr{
    height:50px;
}

table.app-signup tbody tr td input[type=radio]{
    margin-right:8px;
    cursor:pointer;
}

table.app-signup tbody tr td input[type=radio]:last-of-type{
    margin-left:25px;
}

table.app-signup tbody tr td input[type=text]{
    padding-left:7px;
    width:250px;
}

table.app-signup tbody tr td.label{
    text-align:left;
    width:150px;
    font-weight:600;
}

table.app-signup{
    margin-top:35px;
    margin-bottom:36px;
}